.item {
  display: flex;
  border: solid 1px gray;
  padding: 1rem;
  flex-direction: row;
  margin-bottom: 1rem;
}

.itemTitle {
  text-decoration: none;
  flex: 1;
  color: black;
}

.itemDone {
  text-decoration: line-through;
}

.itemInput {
  width: 100%;
}

.itemInner {
  display: flex;
  flex: 1;
}

.itemInner > input[type='checkbox'] {
  margin-right: 10px;
}

.removeButton {
  color: white;
  background-color: blue;
  border: none;
}
